
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 51px;
    }
}

.header__logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: $mainColorText;
    
}
.header__nav {
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        width: 60%;
        
        }
    @media screen and (min-width: 1280px) {
    width: 40.0173%;
    transition: all 0.3s linear;
    order: 0;
    margin-top: 0;
    }
}
.header__nav__item {
    @include link;
}
.header__nav__item:hover {
    color: $colorGreen;
    border-bottom: 2px solid $colorGreen;
}
.header__button {
    width: 50%;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
            width: 25%;
    
        }
    @media screen and (min-width: 1280px) {
    width: 14.9305%;
    
    }
}
.header__button__login, .header__button__sign-up {
    @include link;
}
.header__button__login {
    background-color: #FFFFFF;
}

.header__button__sign-up {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 12px 16px;
    background: $colorGreen;
    border-radius: 4px;
}
