.testimonial {
    width: 100%;
    margin: 0 auto;
    
    position: relative;
    margin: 40px 0;
    @media screen and (min-width: 1440px) {
        margin: 128px 0 217px 0;
   
    }
}
.about__info__text_width {
    width: 100%;
    @media screen and (min-width: 1280px) {
    width: 43.576%;
    margin-bottom: 43px;
    }
}
.testimonial__img {
    display: none;
    @media screen and (min-width: 1280px) {
       display: block;
    width: 52.2569%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    }
}
.testimonial__quote {
    width: 100%;
    position: relative;
        background-color: $colorGreen;
        padding: 20px 0 0 32px;
        margin-top: 20px;
    @media screen and (min-width: 1280px) {
    width: 51.82291%;
    margin-top: 0;
    }
}
.quote-block__right {
    display: flex;
    flex-direction: row;
}
.quote-block {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.quote-block__span {
    padding-left: 10px;
}
.quote-block__span_name {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.quote-block__span_post {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #D9D9D9;
}

.testimonial__quote__text {

    @include text;
    color: #ECECEC;
    padding: 16px 16px 30px 0;
    @media screen and (min-width: 1280px) {
    padding: 16px 63px 30px 0;
    }
}

.testimonial__quote__arrow-black-img, .testimonial__quote__arrow-white-img{
background-color: #143B19;
padding: 9px 9px;
position: absolute;
right: 29px;
bottom: 0;
}
.testimonial__quote__arrow-white-img {
    background-color: #FFF;
    right: 0;
}